@for $i from 1 through 50 {
  .w-#{$i*10} {
    width: 10px * $i
  }
}

@for $i from 1 through 12 {
  .h-#{$i*50} {
    height: 50px * $i
  }
}

body {
  min-width: 900px;
}

.thumb {
    width: 100%;
    height: 100%;
}

.container-custom {
  min-height: calc(100% - 400px);
}

.container-900 {
  width: 900px;
  margin: 0 auto 50px;
  box-sizing: border-box;
}

.one-column {
  width: 100% !important;
}

.card-list {
  height: 100%;
  overflow-y: scroll;
}
