@import "custom";

.white {
  color: blue;
}

.border-box {
  border: solid 1px;
}

@for $i from 1 through 10 {
  .w-#{$i*50} {
    width: 50px * $i
  }
}

@for $i from 1 through 10 {
  .h-#{$i*50} {
    height: 50px * $i
  }
}
