
<div ng-controller="searchCtrl" class="row bg-gray h-600 no-margin padding-20 box-color">
  <div class="col-xs-6">
    <form>
      <div class="form-group row">
        <label class="col-xs-2 form-control-label"><span>Name:</span></label>
        <div class="col-xs-10">
          <input type="text" ng-model="card.name" class="one-column"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 form-control-label"><span>Price:</span></label>
        <div class="col-xs-10">
          <input type="text" ng-model="card.price" class="one-column"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-xs-2 form-control-label"><span>Date:</span></label>
        <div class="col-xs-10">
          <input type="text" ng-model="card.date" class="one-column"/>
        </div>
      </div>
      <div class="button-container">
        <button type="button" ng-click="clear()" class="btn btn-danger w-100"><span>Clear</span></button>
        <button type="button" ng-click="logIn()" class="btn btn-caution w-80 float-right"><span>Clear All</span></button>
        <button type="button" ng-click="search()" ng-disabled="isInvalid()" class="btn btn-success w-100 float-right"><span>Search</span></button>
      </div>
    </form>
  </div>
  <div class="col-xs-6 card-list">
    <div ng-repeat="card in cards" class="w-350 h-140 padding-10 border-box border-radius-10">
      <div class="w-70 h-100 border-box inline-block border-radius-inherit"><img ngf-src="card.urlImage" class="thumb border-radius-inherit"/></div>
      <div style="width: calc(100% - 75px); vertical-align: top;" class="h-100 border-box inline-block padding-10 border-radius-inherit">
        <div class="line-height-25"><span>Name: <span>{{card.name}}</span></span></div>
        <div class="line-height-25"> <span>Price: <span>{{card.price}}</span></span></div>
        <div class="line-height-25"> <span>Date: <span>{{card.date}}</span></span></div>
      </div>
    </div>
  </div>
</div>