<!DOCTYPE html>
<html ng-app="brnApp">
  <head>
    <title>brunolin</title>
    <meta charser="utf-8">
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-resource.min.js"></script>
    <script src="js/angular/ui-bootstrap.js"></script>
    <script src="js/angular/ng-file-upload.js"></script>
    <script src="js/angular/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="js/angular/ui-bootstrap-csp.css">
  </head>
  <body>
  </body>
</html>