div.row.bg-gray.h-600.no-margin.padding-20.box-color(ng-controller="createCtrl" style="padding-left:70px;")
  div.col-xs-3.border-box.h-300.no-padding
    div.row.no-margin.h-250
      img(ng-if="picFile" ngf-src="picFile" class="thumb")
    div.row.no-margin
      button.h-50.one-column(type="file" ngf-select="upload($file, $invalidFiles)" 
      accept="image/*" ng-model="picFile" ngf-max-height="1000" ngf-max-size="1MB")
        span Select file
    
  div.col-xs-9.h-300(style="padding: 100px;")
    form
      div.form-group.row
        label.col-xs-2.form-control-label
          span Name:
        div.col-xs-10
          input.one-column(type="text" ng-model="card.name")
      div.form-group.row
        label.col-xs-2.form-control-label
          span Price:
        div.col-xs-10
          input.one-column(type="text" ng-model="card.price")        
      div.form-group.row
        label.col-xs-2.form-control-label
          span Date:
        div.col-xs-10
          input.one-column(type="text" ng-model="card.date")    
      div.button-container
        button.btn.btn-danger.w-100(type="button" ng-click="clear()")
          span Clear
        button.btn.btn-danger.w-100(type="button" ng-click="consulta()")
          span Consultar
        button.btn.btn-success.w-100.float-right(type="button" ng-click="uploadCard(picFile, card)")
          span Confirm
