doctype html
html(ng-app="brnApp")
  head
      title untitled
      meta(charser="utf-8")
      script(src="js/angular/angular.js")
      script(src="js/angular/angular-animate.js")
      script(src="js/angular/angular-route.min.js")
      script(src="js/angular/angular-resource.min.js")
      script(src="js/angular/ui-bootstrap.js")
      script(src="js/angular/ng-file-upload.js")
      script(src="js/angular/ng-file-upload-shim.js")
      script(src="js/angular/ui-bootstrap-tpls.js")
      link(rel="stylesheet" href="css/main.css")
      link(rel="stylesheet" href="css/bootstrap.css")
      link(rel="stylesheet" href="js/angular/ui-bootstrap-csp.css")
  body
    block container
    block plugins
