doctype html
html(ng-app="brnApp")
  head
      title brunolin
      meta(charser="utf-8")
      script(src="js/angular.js")
      link(rel="stylesheet" href="css/main.css")
    body
      block teste
      block container
      block plugins
